################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AlphabetCheckWebAPI-Repo/FileContentIndex/33346e8c-d29b-4c2a-8768-8f1419b29b1a.vsidx
/.vs/AlphabetCheckWebAPI-Repo/FileContentIndex/2b792762-aaeb-4c0b-b279-7489f69eee91.vsidx
/.vs/AlphabetCheckWebAPI-Repo/FileContentIndex/85e79cf9-4669-4dc3-beec-72b92649d90e.vsidx
/.vs/AlphabetCheckWebApp/FileContentIndex/cc2b99dd-e01c-45d1-8f06-89e7966af7e4.vsidx
/.vs/AlphabetCheckWebApp/FileContentIndex/b419eb6b-c525-49e9-a999-2c76eb8c9726.vsidx
/.vs/AlphabetCheckWebApp/FileContentIndex/9c2555a3-d1f7-4644-af43-2ab63c899954.vsidx
/.vs/AlphabetCheckWebApp/FileContentIndex/1dc9b678-49ef-4afc-9b49-ad0c37a9685b.vsidx
/.vs/AlphabetCheckWebApp/FileContentIndex/1d7fe36a-f5e5-4767-a6ab-52b651f0bf8f.vsidx
